In [56]:
import pandas as pd
import numpy as np
import matplotlib as pl
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier  
from sklearn.tree import DecisionTreeRegressor 
from sklearn.model_selection import cross_val_score

In [29]:
data = pd.read_csv("bikes_train.csv")

In [30]:
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [31]:
data["datetime"] = pd.to_datetime(data["datetime"])
data["dayofweek"] = data["datetime"].dt.dayofweek      #The day of the week with Monday=0, Sunday=6
data["year"] = data["datetime"].dt.year
data["month"] = data["datetime"].dt.month
data["day"] = data["datetime"].dt.day
data["hour"] = data["datetime"].dt.hour

In [42]:
y = data["count"]
features = ["season","holiday","workingday","weather","temp","atemp","humidity","windspeed","dayofweek","year","month","day","hour"]
X = data[features]

In [43]:
X.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,dayofweek,year,month,day,hour
0,1,0,0,1,9.84,14.395,81,0.0,5,2011,1,1,0
1,1,0,0,1,9.02,13.635,80,0.0,5,2011,1,1,1
2,1,0,0,1,9.02,13.635,80,0.0,5,2011,1,1,2
3,1,0,0,1,9.84,14.395,75,0.0,5,2011,1,1,3
4,1,0,0,1,9.84,14.395,75,0.0,5,2011,1,1,4

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [45]:
parameters = {'max_depth': range(1, 11),
              'min_samples_split': range(2, 21), 'min_samples_leaf': range(1, 21)}
tree = DecisionTreeRegressor()

In [46]:
regressor = GridSearchCV(estimator = tree, param_grid = parameters)

In [47]:
regressor.fit(X = X_train, y=y_train)

GridSearchCV(cv=None, error_score='raise',
       estimator=DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_depth': range(1, 11), 'min_samples_split': range(2, 21), 'min_samples_leaf': range(1, 21)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [49]:
predicted = regressor.predict(X_test)

In [50]:
wyniki = pd.DataFrame({"y_true":y_test,"y_pred":predicted}, index = y_test.index)

In [51]:
wyniki

           y_pred  y_true
3133   154.115044     127
5786    60.400000      13
5224   220.052632     163
8953   249.753886     233
8054   209.285714     222
10044  206.357143     166
5337   168.521739     144
2753   382.262712     376
10127  605.250000     601
33      66.062500      53
4634     7.200000       6
8104    18.705128      14
2855   264.714286     209
3460    59.800000      62
1408   136.358491     139
3844    13.937500       9
9257    73.764706      96
1056    81.885057      98
3837   155.375000     230
3079     5.250000      12
1608    65.400000      54
1768   164.150000     107
10720    8.800000       8
2507   171.921053     182
6906     4.700000      11
7051     2.630252       1
7361    73.764706      93
3487    22.000000      17
483     30.111111      39
3704    27.200000      11
...           ...     ...
7443   249.753886     280
10810  133.444444     122
2452    15.000000      13
9229   259.708333     299
7923   568.368000     502
837    211.906250     272
7482     7.096386      13
5452    29.285714      16
3784   213.030303     156
9021    31.333333      27
6109   181.470588     262
7793     8.800000       8
6220   125.142857     120
6673   475.300000     623
10509  349.096774     502
157     98.649123      51
6930    50.142857      36
6821   249.753886     281
1441    71.166667      46
8904   329.901961     305
10237   55.200000     109
8698   466.190476     397
5479   111.988095      60
4638    87.823529      90
8241   501.746479     430
1963   316.590909     351
5807     2.630252       2
10061  447.714286     509
5427     6.500000       5
7588   121.666667     239

[2178 rows x 2 columns]

In [53]:
def rmsle(y_pred, y_true) :
    assert len(y_true) == len(y_pred)
    return np.sqrt(np.mean((np.log(1+y_pred) - np.log(1+y_true))**2))

In [57]:
rmsle(y_pred=predicted, y_true=y_test)

0.38619005375873716